*{
    margin:0;
    padding:0;
    box-sizing:"border-box"
}

.wrapper{
    margin: 50px 0
}

.star__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-filled::before{
    content: '\2605';
    font-size: 70px; 
    color: gold;
}

p{
    text-align: center;
}

.star-empty::before{
content: '\2606';
font-size: 70px;
}